/* Global */

:root{
    --primary-blue: #269fe6;
    --secondary-blue: #2d58b3;
    --primary-white: #f0ffff;
    --primary-gray: #232323;
    --secondary-gray: #3b3b3b;
    --terciary-gray: #a6a6a6;
    --primary-blue-filter: invert(53%) sepia(60%) saturate(3420%) hue-rotate(168deg) brightness(95%) contrast(101%);

    --font-family1: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-famaly2: monospace;
}

html, body{
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right top, #232323, #292929, #2f2f2f, #353535, #3b3b3b);
    font-family: var(--font-family1);
    color: var(--primary-white);
    overflow: auto;
    scrollbar-width: none;
}

body {
    display: flex;
    flex-direction: column;
}

/* header */ 

header {
    width: 100%;
}

#header-content {
    margin: 1em 7%;
    padding-inline: 2rem;
    background-color: var(--secondary-gray);
    min-width: fit-content;
    height: 7vh;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

#logo-header {
    height: 2.5rem;
    margin-top: 2px;
}

#log-content {
    display: flex;
    min-height: fit-content;
    gap: 0.7em;
    align-items: center;
}

.log-button {
    font-family: var(--font-famaly2);
    background-color: var(--primary-white);
    color: var(--primary-blue);
    border: none;
    border-radius: 8px;
    width: fit-content;
    height: 35px;
    transition: 300ms ease-in-out;
}

.log-button:hover,
.link_button:hover {
    background-color: var(--primary-blue);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: var(--primary-white);
}

#sections-content ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

#sections-content ul a {
    text-decoration: none;
    color: var(--primary-white);
    transition: 300ms ease-in-out;
}

#sections-content ul a:hover {
    color: var(--primary-blue);
}

.profile_icon{
    height: 2rem;
}

/* core */

#main_sections_content {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

#sections_content {
    width: 70%;
}


/* messages */

.message_div{
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
}

.message_div ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.alert-message {
    font-family: var(--font-famaly2);
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 1.3em;
}

.alert-error {
    background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
    background: linear-gradient(to right, #f45c43, #eb3349);
    box-shadow: 0 0px 10px #de1c3280;
}

.alert-success {
    background: -webkit-linear-gradient(to right, #7db65b, #4caf50);
    background: linear-gradient(to right, #7db65b, #4caf50);
    box-shadow: 0 0px 10px #4caf5080;  
}

.alert-info {
    background: -webkit-linear-gradient(to right, #269fe6, #5ab3e8);
    background: linear-gradient(to right, #269fe6, #5ab3e8);
    box-shadow: 0 0px 10px #269fe680;
}
  
.info_icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}
  
.info_icon path {
    fill: var(--primary-white);
}
  
.message_title {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-white);
}
  

/* footer */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.footer-content {
    width: 50%;
    display: flex;
    gap: 1rem;
    min-width: fit-content;
    background-color: var(--secondary-gray);
    color: var(--primary-white);
    height: 7vh;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    padding-inline: 2rem;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.social-medias {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.social-medias a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-medias a svg {
    transition: 300ms ease-in-out;
    height: 24px;
    width: 24px;
}

.social-medias a:hover svg {
    fill: var(--primary-blue);
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright p {
    transition: 300ms ease-in-out;
}

.copyright p:hover {
    color: var(--primary-blue);
}

/* Login and Register */

.form-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_link {
    height: 5vh;
}

form {
    min-height: min-content;
    display: grid;
    justify-items: center;
    gap: 1em;
}

form h1 {
    margin-top: 3%;
    margin-bottom: 0;
}

.form_input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: var(--primary-white);
    border-radius: 10px;
    transition: all 0.5s;
}
  
.form_input:hover,
.form_input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: var(--primary-white);
}

#submit-button {
    font-family: monospace;
    background-color: var(--primary-white);
    color: var(--primary-blue);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
    margin-top: 3%;
}

#submit-button:hover {
    background-color: var(--primary-blue);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: var(--primary-white);
}

.checkbox-container {
    display: flex;
    gap: 4px;
    margin-top: 3%;
}

.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
  
.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
  
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
  
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
  
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
  
.check:hover:before {
    opacity: 1;
}
  
.check:hover svg {
    stroke: var(--primary-blue);
}
  
#remember-me:checked + .check svg {
    stroke: var(--primary-blue);
}
  
#remember-me:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
  
#remember-me:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.terms-link {
    text-decoration: none;
    color: var(--terciary-gray);
    transition: 300ms ease-in-out;
}

.terms-link:hover {
    color: var(--primary-blue);
}

/* Experiences Page */ 
.add_experiences_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 50%; */
    justify-content: space-evenly;
}

.none {
    display: none;
}

.form_content {
    background-color: var(--secondary-gray);
    padding: 2rem;
    border-radius: 1em;
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.nav_content{
    display: flex;
    justify-content: center;
}
  
.tab-container {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    background-color: var(--secondary-gray);
    border-radius: 9px;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}

.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: var(--primary-blue);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}

.tab_label {
    width: 130px;
    height: 28px;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: var(--primary-white);
    font-size: 0.75rem;
    cursor: pointer;
}

.tab--1:checked ~ .indicator {
    left: 2px;

}

.tab--2:checked ~ .indicator {
    left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
    left: calc(130px * 2 + 2px);
}

.tab--4:checked ~ .indicator {
    left: calc(130px * 3 + 2px);
}

.tab--5:checked ~ .indicator {
    left: calc(130px * 4 + 2px);
}

.tab--6:checked ~ .indicator {
    left: calc(130px * 5 + 2px);
}

.tab--7:checked ~ .indicator {
    left: calc(130px * 6 + 2px);
}

.tab--8:checked ~ .indicator {
    left: calc(130px * 7 + 2px);
}

.tab--9:checked ~ .indicator {
    left: calc(130px * 8 + 2px);
}

.messageTermsOfUsageNeeded {
    display: none;
}

/* terms of use */

#terms_of_use_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#terms_of_use_main {
    width: 70%;
    height: 70%;
    overflow: auto;
    margin: 1.5rem;
    padding-inline: 1rem;
    scrollbar-width: none;
}

#agree-button {
    font-family: monospace;
    background-color: var(--primary-white);
    color: var(--primary-blue);
    border: none;
    border-radius: 8px;
    width: auto;
    height: 45px;
    transition: .3s;
}

#agree-button:hover {
    background-color: var(--primary-blue);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: var(--primary-white);
}


/* profile_page */

#profile_image{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: solid 2px var(--terciary-gray);
    object-fit: cover;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header h1{
    margin: 0.5rem 0;
}

.main_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
}

.profile-container {
    min-width: 300px;
    padding: 1.5rem;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-gray);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px 1px #13131354;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 300ms ease-in-out;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label {
    padding-left: 0.5rem;
    font-size: smaller;
    padding-bottom: 1px;
}

#profile_page_form {
    gap: 0.5em;
}


#profile_page_form h4{
    margin: 0;
    margin-top: 0.5rem;
    font-size: medium;
}

#profile_page_form label {
    color: var(--terciary-gray);
}

#profile_page_form textarea {
    height: 10vh;
    resize: none;
}

.blur_input {
    filter: blur(1px);
}

.blur_input:hover,
.blur_input:focus{
    filter: none;
}

#button_add_file {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-white);
    width: fit-content;
    color: var(--primary-blue);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  
  #button_add_file:hover {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    background-color: var(--primary-blue);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: var(--primary-white);
  }
  
  #button_add_file:focus,
  #button_add_file:active {
    opacity: 0.85;
    box-shadow: none;
  }
  
  #button_add_file svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  

.button_file_content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.file_input{
    display: none;
}

/* Forms inputs */

.image_input {
    padding-top: 0.7rem;
    color: var(--primary-blue);
}

.multiple_checkbox_input {
    height: auto;
    width: 200px;
}
.multiple_checkbox_input div{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

.multiple_checkbox_input div label {
    color: var(--terciary-gray);
    width: fit-content;
    font-size: small;
    height: fit-content;
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.multiple_checkbox_input div label input {
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* MyExperiences page */
#main_container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

table {
    width: 70%;
    margin: 1rem 0;
    border-collapse: collapse;
    text-align: center; 
    background-color: var(--secondary-gray);
    border-radius: 1em;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), 0 .125em .5em rgba(0, 0, 0, .15);
}


table caption {
    font-size: larger;
    padding-bottom: 0.5rem;
}

table th {
    color: var(--primary-blue);
    font-weight: bold;
    text-transform: uppercase;
}


table td, 
table th {
    padding: 5px 0; 
    vertical-align: middle;
}

table button {
    border: none; 
    cursor: pointer; 
    display: flex;
    background: none;
}

.link_button{
    font-family: var(--font-famaly2);
    background-color: var(--primary-white);
    color: var(--primary-blue);
    border: none;
    border-radius: 8px;
    width: fit-content;
    height: 35px;
    transition: 300ms ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1px 6px;
}

/* 
table button:hover img{
    fill: #ffdddd;
} */