{% load static %}
<header>
    <div id="header-content">
        <div id="logo-content">
            <a href="/"><img id="logo-header" src="{% static 'assets/logos/variated_logo.svg' %}" alt=""></a>
        </div>
        <div id="sections-content">
            <ul>
                <li><a href="{% url "add_experiences" %}">Add experiences</a></li>
                <li><a href="{% url "basic" user%}">Basic</a></li>
                <li><a href="{% url "complete" %}">Complete</a></li>
                <li><a href="{% url "my_experiences" %}">My experiences</a></li>
            </ul>
        </div>
        <div id="log-content">
            <a href="{% url 'profile_page' %}" class="profile_icon"><img src="{% static 'assets/icons/profile.svg' %}" alt="" class="profile_icon"></a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="log-button">Log out</button>
            </form>
        </div>
    </div>
</header>