
:root{
    --primary-blue: #269fe6;
    --secondary-blue: #2d58b3;
    --primary-white: hsl(180, 100%, 97%);
    --primary-gray: #232323;
    --secondary-gray: #3b3b3b;
    --terciary-gray: #a6a6a6;
    --primary-blue-filter: invert(53%) sepia(60%) saturate(3420%) hue-rotate(168deg) brightness(95%) contrast(101%);

    --font-family1: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-famaly2: monospace;
}

html, body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to right top, #232323, #292929, #2f2f2f, #353535, #3b3b3b);
    font-family: var(--font-family1);
    color: var(--primary-white);
    overflow: auto;
    scrollbar-width: none;
}

body{
    display: flex;
    justify-content: center;
}

#home_link{
    position: absolute;
    margin-top: 1rem;
}

#home_logo{
    width: 128px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile_card {
    min-width: 300px;
    padding: 1.5rem;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-gray);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px 1px #13131354;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 300ms ease-in-out;
}

.profile_card:hover{
    border: 2px solid var(--primary-blue);
    box-shadow: 1px 1px 5px 1px var(--secondary-blue);
}

#profile_image{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: solid 2px var(--terciary-gray);
    object-fit: cover;
}

#name{
    margin: 0;
}

#city{
    margin: 0;
    font-size: small;
    color: var(--terciary-gray);
}

#expertise{
    margin: 0;
    font-size: medium;
    object-fit: cover;
}

#main_technologies{
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    margin-top: 1em;
}

.technologie_image{
    width: 24px;
    -webkit-user-drag: none;
}

/* From Uiverse.io by dylanharriscameron 
.skill_detail_card {
    position: absolute;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: var(--primary-gray);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #269fe6;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}
   */

#biography{
    text-align: justify;
}

.social-medias {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.social-medias a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-medias a svg {
    transition: 300ms ease-in-out;
    height: 24px;
    width: 24px;
}

.social-medias a:hover svg {
    fill: var(--primary-blue);
}