{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div id="sections_content">
            <section id="introdution">
                <h2>Introdution</h2>
                <p>
                    MyResume is a website that provides a scalable and customizable environment for creating resumes focused on the IT area, offering professionals a beautiful, organized resume that is different from anything recruiters have seen on the usual and well-known resume creation sites , saving you time from creating a unique web resume for this purpose.
                </p>
            </section>
            <section id="problem">
                <h2>Problem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione.
                </p>
            </section>
            <section id="solution"></section>
                <h2>Solution</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione.
                </p>
            </section>
            <section id="problem"></section>
                <h2>Problem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione.
                </p>
            </section>
        </div>
    </main>
{% endblock %}