{% extends "global/base.html" %}
{% load static %}
{% block content %}
    {% include "partials/_header.html" %} 
    {% include "partials/_messages.html" %}
    <main id= "main_sections_content">
        <div id="sections_content">
            <section id="introdution">
                <h2>Introdution</h2>
                <p>
                    MyResume is a website that provides a scalable and customizable environment for creating resumes focused on the IT area, offering professionals a beautiful, organized resume that is different from anything recruiters have seen on the usual and well-known resume creation sites , saving you time from creating a unique web resume for this purpose. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere architecto illum laudantium, debitis accusantium unde necessitatibus voluptas odio doloremque culpa repellendus asperiores vitae recusandae soluta eius commodi, alias rerum eveniet.
                </p>
            </section>
            <section id="problem">
                <h2>Problem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, sequi doloremque similique quasi architecto aspernatur? Laboriosam autem odio voluptatem laborum voluptatum, numquam expedita, beatae alias totam amet obcaecati vel eum?
                </p>
            </section>
            <section id="solution"></section>
                <h2>Solution</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur nobis recusandae deleniti, sunt doloremque suscipit reiciendis enim optio. Ipsa optio a, sapiente minus fugiat accusamus ad esse dolor facere obcaecati.
                </p>
            </section>
            <section id="examples"></section>
                <h2>Examples</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore excepturi magnam dolorem ut quas delectus. Impedit eaque voluptatem, nam molestias nostrum facilis eius perferendis aperiam obcaecati accusamus sequi modi eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eligendi, et est, tempore natus quidem culpa rerum dolorem quibusdam sunt ex sequi aperiam temporibus quas voluptatum veniam illo unde ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsam ab quis reprehenderit, nostrum ipsa totam soluta quae adipisci sunt corporis facere maxime deleniti necessitatibus velit? Voluptas at culpa non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ipsa. Iste suscipit omnis soluta impedit minus? Officiis unde incidunt voluptates. Sapiente beatae repudiandae iusto libero quos! Doloribus rem vel iusto!
                </p>
            </section>
        </div>
    </main>
    {% include "partials/_footer.html" %}
{% endblock %}