{% extends "base.html" %}
{% block content %}
{% include "partials/_messages.html" %}
<main class="add_experiences_main">
    <nav>
        <div class="input">
          <h6>What do you want to add?</h6>
          <ul>
            <li><button>HardSkill</button></li>
            <li><button>SoftSkill</button></li>
          </ul>
        </div>
    </nav>
    <div class="form_content">
        {{ form.get_title|safe }}
        <form action="/experiences/add_experiences/" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="submit-button">Save experiences</button>
        </form>
    </div>
</main>
{% endblock  %}
